.characters {
  width: 90vw;
  margin: 20px auto;
  display: grid;
  column-gap: 10px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: space-around;
}

@media (max-width: 677px) {
  .characters {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
