.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0 5vw;
}

.errorPage__title {
  font-size: 1.5rem;
}

.errorPage__image {
  width: 80vw;
  max-width: 500px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.errorPage__text--reload {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #fdfffc;
  color: #1d3557;
  transition: all 0.3s ease-in-out;
  user-select: none;
}

.errorPage__text--reload:hover {
  box-shadow: 0 0 10px 5px #777777;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.errorPage__text--reload:active {
  box-shadow: 0 0 5px 3px #000000;
  scale: 0.95;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.errorPage__text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}
